<form role="form" class="form-horizontal" name="formHolder.teamForm" ng-submit="submitForm()" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-3" translate>TEAM.LABELS.NAME</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="name" ng-model="user.name" required>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-3" translate>TEAM.LABELS.LASTNAME</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="lastname" ng-model="user.lastname" required>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-3" translate>TEAM.LABELS.GENDER</label>
        <div class="col-sm-9">
          <select class="form-control" name="gender" ng-model="user.gender" required>
            <option value="" translate>TEAM.VALUES.SELECT_OPTION</option>
            <option value="female" translate>TEAM.VALUES.FEMALE</option>
            <option value="male" translate>TEAM.VALUES.MALE</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-3" translate>TEAM.LABELS.IDENTITY_CARD</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="identityCard" ng-model="user.identityCard" required>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-3" translate>TEAM.LABELS.ROLE</label>
        <div class="col-sm-9">
          <select class="form-control" name="role" ng-model="user.role" required>
            <option value="" translate>TEAM.VALUES.SELECT_OPTION</option>
            <option value="supervisor" translate>TEAM.VALUES.SUPERVISOR</option>
            <option value="expert" translate>TEAM.VALUES.EXPERT</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-3" translate>TEAM.LABELS.EMAIL</label>
        <div class="col-sm-9">
          <input class="form-control" type="email" name="email" ng-model="user.email" ng-hide="user._id" required>
          <p class="form-control-static" ng-show="user._id">{{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-3" translate>TEAM.LABELS.CAREER</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="career" ng-model="user.career" required>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-3" translate>TEAM.LABELS.SPECIALTY</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="specialty" ng-model="user.specialty" required>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-3" translate>TEAM.LABELS.COMMENTS</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="4" name="comments" ng-model="user.comments"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-3" translate>COMMON.LABELS.ENABLED</label>
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="enabled" ng-model="user.enabled">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-2 col-md-offset-10">
      <input class="btn btn-success btn-block" ng-disabled="!canSubmitForm()" type="submit" value="{{ 'COMMON.BUTTONS.SAVE' | translate }}">
    </div>
  </div>
</form>
